.img-header {
    width: 100%;
    text-align: center;
}

.header {
    margin-top: 30px;
    margin-bottom: 15px;
}

.blog-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 35px;
}

.blog-date {
    color: grey;
    margin-top: 10px;
}

.blog-body {
    font-size: 18px;
    margin-top: 40px;
}

.blog-section {
    margin-bottom: 40px;
}

.list {
    margin-top: 15px;
}

.subheading {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.img-wrapper {
    text-align: center;
    margin-bottom: 40px;
}

.blog-img-content {
    width: 100%;
    max-width: 600px;
}

.caption {
    color: grey;
    font-size: 14px;
    margin-top: 10px;
}

#shoebox-img {
    width: auto;
    height: 500px;
}

.strong-big {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
}

.blog-section-grey {
    padding: 30px;
    background-color: rgb(235, 235, 235);
}

.code-section {
    margin-top: -10px;
    margin-bottom: -10px;
}

.code-inline {
    padding: 3px;
    background-color: #f9f3f5;
    color: #c7254e;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

.very-big {
    font-size: 25px;
}

blockquote {
  font-style: normal;
  margin-left: 32px;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

.signature {
    margin-top: 20px;
    color: gray;
    margin-bottom: 50px;
}

#mc-embedded-subscribe {
    margin-left: 10px;
}

.signup-heading {
    margin-bottom: 10px;
}

#mc_embed_signup {
    margin-bottom: 50px;
}

#mce-error-response {
    color: red;
}

#mce-success-response {
    color: green;
}

#mce-responses {
    margin-left: 10px;
}

.mce_inline_error {
    border-color: red !important;
}

.toc {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    padding-top: 30px;
    margin-bottom: 40px;
    background-color: rgb(244, 244, 244);
}

pre {
    margin-top: -30px;
    margin-bottom: -20px;
}

.outline-red {
    border: 1px solid red;
    border-radius: 5px;
    padding: 20px;
}

.readmore-title {
    font-weight: bold;
}

.readmore-wrapper {
    margin-bottom: 100px;
}